@import '../../../assets/css/mixins';
@import '../../../assets/css/variables';

.doggo-demo {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.fill-space{

  flex: 1 1 auto;
}
.spacer-72 {
  margin-top: 44px;
}

article {
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 16px;
}

h4 {
  font-family: $sans-default-family;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  padding-bottom: 13px;
}

.primary-color {

}

p {
  font-family: $sans-default-family;
  font-size: 13px;
  line-height: 1.4;
  color: #333;
}
.ar {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.ar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
