<gxe-main-navigation></gxe-main-navigation>
<div class="spacer-72"></div>
<article>
  <div class="ar">
    <iframe src="https://www.youtube.com/embed/KFRQfh9wQ7Y"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
    </iframe>
  </div>
  <section>
    <h4>Exercise Overview</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deserunt magni modi omnis pariatur quis
      soluta. Aperiam cumque eligendi eos minima molestiae natus nisi quia quidem quis, sapiente suscipit
      voluptatem.</p>
  </section>
  <section>
    <button mat-raised-button color="accent" [routerLink]="['/demo']">GO TO LIVE DEMO</button>
    <a mat-button color="primary"
       href="https://github.com/morningharwood/g-uxe-exam"
       target="_blank">
      DOWNLOAD CODE
    </a>
  </section>
</article>
