<gxe-main-navigation></gxe-main-navigation>
<div class="spacer-72"></div>
<article>
  <div class="ar">
    <iframe src="https://www.youtube.com/embed/oUcKC7ZD1wo?&autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=2&showinfo=1&loop=1"
            frameborder="0"
            allow="autoplay; encrypted-media"
            allowfullscreen>
    </iframe>
  </div>

  <section>
    <h4>Brief</h4>
    <p>
      Design a mobile photo gallery interface. A designer on the team delivers mockups for a grid view
      and detailed photo view and asks you to help define the transition between the two states.
    </p>
  </section>
  <section>
    <button mat-raised-button color="accent" [routerLink]="['/demo']">GO TO LIVE DEMO</button>
    <a mat-button color="primary"
       href="https://drive.google.com/file/d/1IxkE2OeZUHvHTU4CP2hZ4cyFWKCHbSPy/view?usp=sharing"
       target="_blank">
      DOWNLOAD CODE
    </a>
  </section>
</article>
