@import '../../../assets/css/mixins';
@import '../../../assets/css/variables';

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: $z-layer-highest;
  width: 100%;

}
.mat-toolbar-row {
  height: 50px;
  padding-top: 0px;
}

.fill-space{
  flex: 1 1 auto;
}

button {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin-right: 12px;
  opacity: .7;
  border: 0;
  background-color: transparent;
  font-family: $san-serif-font;
}

.active-link {

  opacity: 1;
  position: relative;

  &::after {
    position: absolute;
    bottom: -17px;
    content: '';
    width: 100%;
    left: 0;
    border-bottom: 3px solid #fff176;
  }
}

.no-margin {
  margin: 0;
}

.spacer {
  width: 100%;
  height: 56px;

  @include bpM(1) {
    height: 64px;
  }
}
