<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['/intro']">Exercise</button>
    <button mat-button [routerLink]="['/profile']" >About me</button>
    <span class="fill-space"></span>

    <span class="example-spacer"></span>
    <button mat-icon-button [routerLink]="['/demo']" >
      <mat-icon aria-label="Mobile demo link" >phone_android</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/documentation']">
      <mat-icon class="example-icon">code</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="spacer"></div>
