<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Matthew Harwood: UXE Exercise</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button [routerLink]="['/intro']"
            routerLinkActive="active-link">
      Demo
    </button>
    <button [routerLink]="['/process']"
            routerLinkActive="active-link">
      Process
    </button>
    <span class="fill-space"></span>
    <button class="no-margin" [routerLink]="['/profile']"
            routerLinkActive="active-link">
      About Me
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="spacer"></div>
