<!--<gxe-gallery-master-->
  <!--[galleryItems]="galleryItemsObs | async">-->
<!--</gxe-gallery-master>-->

<uxe-gallery-master [state]="obsExtended | async"></uxe-gallery-master>
<router-outlet></router-outlet>

<!--<h1>123123</h1>-->
<!--<div class="container spacer">-->
  <!--<div class="row wrap">-->
    <!--<div class="outer-mask"-->
         <!--*ngFor="let item of [1,2,3,45,6,7,8,9,0,0,8,8,8,88]; let i = index"-->
         <!--(click)="selectedItem(i)">-->
      <!--<p>{{i}}</p>-->
      <!--&lt;!&ndash;<div class="inner-mask"&ndash;&gt;-->
      <!--&lt;!&ndash;#innerMask>&ndash;&gt;-->
      <!--&lt;!&ndash;<img #imgEl [src]="item.imgSrc" alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
