
@import '../../../../assets/css/mixins';
@import '../../../../assets/css/variables';

:host {
  width: 100%;
  margin: 0 auto;
}

.container {
  background: red;
  // Sets the outer borders for edges
  border: 3px solid pink;
  width: 100%;
}

.outer-mask {
  // Aspect Ratio boxs: https://css-tricks.com/aspect-ratio-boxes/
  overflow: hidden;
  height: 100px;

  position: relative;

  // Sets the inner borders for edges
  border: 3px solid pink;
  perspective: 1000px;
}

.inner-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
