<!--<div class="container" #container>-->
  <!--<div class="wrapper group">-->
    <!--<div class="outer-mask" #outerMask *ngFor="let item of [0,1,2,3,4,5,6,7,8,0,1,2,3,4,5,6,7,8,9]; let i = index">-->
      <!--<img src="https://placeimg.com/640/480/any" alt="">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="container" #container>
  <div fxLayout="row wrap"
       fxLayoutAlign="start center"
        >
      <div class="outer-mask"
           fxFlex="50%"
           fxFlexAlign="center"
           #outerMask
           *ngFor="let item of [0,1,2,3,4,5,6,7,8,0,1,2,3,4,5,6,7,8,9]; let i = index">
        <div class="inner-mask"
             #innerMask
             (click)="selectedItem(i, outerMask, innerMask, imgEl)">
          <img #imgEl src="https://placeimg.com/640/480/any" alt="">
          {{i}}
          <!--<uxe-item></uxe-item>-->
        </div>
      </div>
  </div>
</div>




<!--</section>-->
<!--<div class="container"-->
     <!--fxLayout-->
     <!--fxLayoutGap="16px">-->
  <!--<uxe-item-->
    <!--fxFlex="15%"-->
    <!--*ngFor="let item of [0,1,2,3,4,5,6,7,8,9]"-->
  <!--&gt;-->
  <!--</uxe-item>-->
<!--</div>-->
<!--<uxe-overlay></uxe-overlay>-->

<!--<p (click)="selectedItem('2')">update selected</p>-->
<!--<p (click)="hiddenItem('2')">update hidden</p>-->
<!--<p (click)="clearToolbars()">clear toolbars</p>-->
<!--<p (click)="setToolBarStateByName('bottombarTemplate', true)">Set toolbar state</p>-->
<!--<p (click)="setModalState(true)">Set modal state</p>-->
<!--<p (click)="setDetailState(true)">Set Detail state</p>-->
<!--<p (click)="setCanvasState(true)">Set Canvas state</p>-->
<!--<p (click)="setCanvasSource('laskdjflaksdjf;alskdfj')">Set Canvas source</p>-->
<!--<p (click)="setTopbarType('black')">Set topbar type</p>-->
