<div class="container" #container>
  <div fxLayout="row wrap"
       fxLayoutAlign="start center"
        >
      <div class="outer-mask"
           fxFlex="50%"
           fxFlexAlign="center"
           #outerMask
           *ngFor="let item of collection; let i = index">
        <div class="inner-mask"
             #innerMask
             (click)="selectedItem(i, outerMask, innerMask, imgEl)">
          <img #imgEl [src]="item.imgSrc" alt="">
        </div>
      </div>
  </div>
</div>


<!--<p (click)="selectedItem('2')">update selected</p>-->
<!--<p (click)="hiddenItem('2')">update hidden</p>-->
<!--<p (click)="clearToolbars()">clear toolbars</p>-->
<!--<p (click)="setToolBarStateByName('bottombarTemplate', true)">Set toolbar state</p>-->
<!--<p (click)="setModalState(true)">Set modal state</p>-->
<!--<p (click)="setDetailState(true)">Set Detail state</p>-->
<!--<p (click)="setCanvasState(true)">Set Canvas state</p>-->
<!--<p (click)="setCanvasSource('laskdjflaksdjf;alskdfj')">Set Canvas source</p>-->
<!--<p (click)="setTopbarType('black')">Set topbar type</p>-->
