@import 'variables';
@import 'mixins';
@import 'extends';

::selection {
  background: $red-danger;
  color: transparentize($white, 0);
}

img::selection {
  background: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  @extend %reset-space;
  @include size(percentage(1/1), percentage(1/1));

  font-family: $serif-font;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  $size: 16px;
  font-size: $size;
  box-sizing: border-box;

  @include bp(4) {
    font-size: calc(16px + .4vw);
  }
}

body {
  font-size: percentage(1/1);
}

gxe-root {
  @include size(percentage(1/1), percentage(1/1));
  display: flex;
}

.router-wrap {
  min-height: percentage(1/1);
  position: relative;
  width: percentage(1/1);
}
