
  <gxe-toolbars
    [isModalActive]="isActive"
    [items]="galleryItems"
    [currentIndex]="currentIndex"
    [selectedChild]="currentItem"
    [tapped]="tapped">
    <button mat-icon-button
            (click)="close()"
            class="close-btn"
            *ngIf="isActive">
      <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
    </button>
  </gxe-toolbars>

<div class="spacer">

  <div class="inner-container-dupe">
    <div class="item-dupe"
         *ngFor="let item of galleryItems;" alt="">
      <img class="dupe-image" [src]="item[1].value.url">
    </div>
  </div>

  <div class="inner-container">

    <div class="modal-screen"
         *ngIf="isActive"
         (click)="toggleTap()">
    </div>

    <gxe-gallery-master-item
      *ngFor="let item of galleryItems; let i = index"
      [item]="item"
      [galleryItems]="galleryItems"
      [index]="i"
      [galleryOpen]="isActive"
      [isActive]="currentItem?.index === i"
      (childTap)="toggleTap()"
      (endingSelect)="setCurrentItem($event)"
      (close)="close($event)"
      (selected)="selectedItem($event)">
    </gxe-gallery-master-item>
  </div>
</div>
