@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {
  flex: 1 1 50%;
  max-height: 25vh;
  max-width: 100%;
  img {
    max-width: 100%;
    width: 100%;
    padding: 6px;
    background: transparent;
  }
}

.outer-mask,
.inner-mask {
  flex: 1 1 50%;
  max-height: 25vh;
  max-width: 100%;
  top: 50vh;
  z-index: 999;
}

gxe-gallery-detail {
  left: 0;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
