<mat-toolbar
  class="bottom-bar"
  [@enterBar]="animationState.bottombarTemplate">
  <mat-toolbar-row [@brushBar]="animationState.brushbarTemplate" class="aux-bar">
    <p *ngIf="animationState.brushbarTemplate">wow</p>
  </mat-toolbar-row>
  <mat-toolbar-row >
    <button mat-icon-button (click)="toggleBrushBar()">
      <mat-icon>brush</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>reply</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
