@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  background: black;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $fun-color;
  min-height: 100%;
  width: 100%;
}

.close-btn {
  @include hide();
  position: absolute;
  top: 24px;
  right: -50px;
  background-color: $black;
  color: $white;
  z-index: 99999;

  &.active {
    @include show(block);
    transition: all 250ms ease-in;
    position: absolute;
    top: 25px;
    right: 25px;
  }
}
