@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  background: black;
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  background-color: $fun-color;
  min-height: 100%;
  width: 100%;
}

.close-btn {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: $black;
  color: $white;
  z-index: 99999;
}

.modal-screen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .99);
}
