<button
  mat-mini-fab
  class="close-btn"
  (click)="close()"
  *ngIf="isActive">
  &times;
</button>

<div class="inner-container-dupe">
  <div class="item-dupe" *ngFor="let item of galleryItems;" alt="">
    <img class="dupe-image" [src]="item[1].value.url">
  </div>
</div>

<div class="inner-container">
  <div class="modal-screen" *ngIf="isActive"></div>
  <gxe-gallery-master-item
    *ngFor="let item of galleryItems; let i = index"
    #masterItem
    [item]="item"
    [galleryItems]="galleryItems"
    [index]="i"
    [isActive]="currentItem?.index === i"
    (endingSelect)="setOrigin($event)"
    (selected)="selectedItem($event)">
  </gxe-gallery-master-item>
</div>

