@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {
  align-items: center;
  background-color: $blue-link;
  display: flex;
  flex: 0 0 auto;
  height: 300px;
  justify-content: center;
  max-width: 100%;
  width: 100%;

}

img {
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
}
