@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {
  background-color: $fun-color;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  max-width: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: relative;

  &::before {
    position: absolute;
    z-index: 0;
    top: 40%;
    left: 25%;
    content: 'Hello Google!';
    width: 100px;
    height: 36px;
    padding-left: 36px;
    background-image: url(../../../../assets/images/favicon-32x32.png);
    background-repeat: no-repeat;
    color: $red-danger;
    font-family: $sans-default-family;
  }
}

.gxe-gallery-inner-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  max-width: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}
