@import '../../../assets/css/mixins';
@import '../../../assets/css/variables';
.spacer-72 {
  margin-top: 44px;
}

section {
  padding: 16px 0;
  width: 100%;

  h3 {
    color: #F44336;
    padding: 16px;
    font-family: $sans-default-family;
  }

  p {
    padding: 0 16px;
    font-family: $sans-default-family;
  }
}

.ar {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.ar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


mat-expansion-panel-header {
  background:  #F44336 !important;
  mat-panel-title {

    color: #fff;
    font-weight: 700;
  }
}
span {
  margin-right: 8px;
  mat-icon {
    transform: translateY(7px);
  }
}



figure {
  img {
    width: 100%;
  }
}
