<gxe-main-navigation></gxe-main-navigation>
<div class="spacer-72"></div>
<div class="wrapper">
  <article>
    <section>
      <h2>Process</h2>
      <blockquote>
        <b>Prompt:</b> You’re designing a mobile photo gallery interface.
        A designer on the team delivers mockups for a grid view and
        detailed photo view and asks you to help define the
        transition between the two states. If you have additional
        time, you can consider secondary actions, such as items in the
        detail view toolbar.
      </blockquote>
      <figure>
        <img src="assets/images/brief.png" alt="">
      </figure>
      <div class="closing">
        <p>To better define the problem and the goal of this open exercise, I took the following process.</p>

        <h3>Defining Product Direction → UX/Interaction Design → Development</h3>

        <p>While my career focus is with UX/Interaction Design and Development, I wanted to take a more holistic
          approach
          by thinking of strategy and product direction. By thinking about strategy and product direction, we can define
          the audience and the business goals, which guides strategic design decisions. Furthermore, clearly defined
          design affords the opportunity to efficiently plan development.</p>
      </div>
    </section>
    <section>
      <h3>Product Direction</h3>
      <div class="goal-list">
        <p><b>Goal/vision:</b> Create entertaining image editing features that could be integrated into any Google Chat
          App e.g. hangouts, allo, chat etc. (Note: Google Chat apps do not offer any entertaining image editing tools.)
        </p>

        <p><b>Audience:</b> Anyone who likes to communicate through photo and images.</p>

        <p><b>Scenario/Persona:</b> Jenny, 32 female— going on her first year of marriage. Living in San Francisco
          together, the couple are thinking of children but maybe they want to start with a dog. Jenny always takes
          pictures of dogs she sees waiting outside. Jenny likes to send the pictures to her husband, sometimes editing
          them on her phone, and always following up with, “I like this one!”</p>
      </div>

      <h3>Product Requirement (User stories):</h3>
      <ul class="detail-list">
        <li><p>User can access photo reel (list of photos).</p></li>
        <li><p>User can view a single selected photo.</p></li>
      </ul>

      <h3>Nice to haves (stretch goals if I have time):</h3>
      <ul class="detail-list">
        <li><p>User can view recently added photos.</p></li>
        <li><p>User can add text to a photo.</p></li>
        <li><p>User can add stickers to a photo.</p></li>
        <li><p>User can draw on a photo.</p></li>
        <li><p>User can view edited photo.</p></li>
        <li><p>User can share edited photo.</p></li>
        <li><p>Considerations for a spot in the UI to support future features.</p></li>
        <li><p><b>Time for delivery: 2 weeks</b></p></li>
      </ul>
    </section>
    <section>
      <h3>UX/Interaction Design</h3>
      <p>Based on provided design mock up and product requirements/user stories that I created, I further explored what
        the Image Gallery could look and behave.</p>

      <h3>UI design</h3>
      <p>First, I translated product requirements into visual/UI (clearly not a UI designer LOL)
        <br>Here are lo-fi mock ups:</p>
      <div class="wrap-flex">
        <figure>
          <img src="assets/images/masterview.png" alt="">
          <figcaption>User can access photo reel (list of photos).</figcaption>
        </figure>
        <figure>
          <img src="assets/images/detailview.png" alt="">
          <figcaption>User can access photo reel (list of photos).</figcaption>
        </figure>
        <figure>
          <img src="assets/images/brushview.png" alt="">
          <figcaption>User can access photo reel (list of photos).</figcaption>
        </figure>
        <figure>
          <img src="assets/images/textview.png" alt="">
          <figcaption>User can access photo reel (list of photos).</figcaption>
        </figure>
        <figure>
          <img src="assets/images/stickerview.png" alt="">
          <figcaption>User can access photo reel (list of photos).</figcaption>
        </figure>
        <figure>
          <img src="assets/images/shareview.png" alt="">
          <figcaption>User can access photo reel (list of photos).</figcaption>
        </figure>
      </div>
    </section>
    <section>
      <h3>UX/interaction design + technical planning</h3>
      <p>Once finished UI design, I started mapping out user flows.</p>
      <figure>
        <img src="assets/images/sitemap.png" alt="">
      </figure>
      <p>In this step, I also defined interaction/motion patterns for transitions between individual screens</p>
      <figure>
        <img src="assets/images/interaction-motion.png" alt="">
      </figure>

      <div class="goal-list">
        <p><b>Transition from master view to detail view:</b> I chose to scale the item directly and blend into the
          detail view. This follows material design’s motion
          principle, which guides user to the next view seamlessly.</p>
        <p><b>Pagination of detail views</b> I chose to allow swiping between images because heuristically it reduces
          number of interactions by 1. It’s also
          a common pattern among many established image gallery apps (like Google Photos).
          In parallel, I started annotating engineering details as well.</p>
      </div>
      <ul class="detail-list">
        <li><p>UI architecture</p></li>
        <li><p>Event management</p></li>
        <li><p>Defining Application states</p></li>
        <li><p>Mathematics around motion</p></li>
      </ul>
      <br>
      <p><b>To show a few examples:</b></p>
      <figure>
        <figcaption>Master View layout</figcaption>
        <img src="assets/images/layer2.png" alt="">
      </figure>
      <figure>
        <figcaption>Planning State</figcaption>
        <img src="assets/images/l1.png" alt="">
      </figure>
    </section>
    <section>
      <h3>Development</h3>
      <p>Based on design and technical planning, I defined the stack and started scaffolding the gallery.</p>

      <h3>Tech Stack</h3>
      <p>Angular is a batteries included mobile/web framework and it’s my personal weapon of choice! For me, Angular
        affords the opportunity to work quickly and efficiently from its robust features like:</p>

      <mat-list role="list">
        <mat-list-item role="listitem">
          <a href="https://cli.angular.io/"
             target="_blank">
            <span><mat-icon>link</mat-icon></span>
            Angular CLI
          </a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <a href="https://www.yearofmoo.com/2017/06/new-wave-of-animation-features.html" target="_blank"><span><mat-icon>link</mat-icon></span>Animations</a>
        </mat-list-item>
        <mat-list-item role="listitem"><a href="https://angular.io/guide/template-syntax" target="_blank"><span><mat-icon>link</mat-icon></span>Templating</a>
        </mat-list-item>
        <mat-list-item role="listitem"><a href="https://angular.io/guide/router" target="_blank"><span><mat-icon>link</mat-icon></span>Routing</a>
        </mat-list-item>
      </mat-list>
      <br>

      <h3>State Management: Redux/NGRX</h3>
      <p>Redux or Angular’s implementation @ngrx Is a robust library for managing state of an application. There are 3
        principles to redux:</p>
      <ul class="detail-list">
        <li><p>Single source of truth</p></li>
        <li><p>State is read-only</p></li>
        <li><p>Changes are made with pure functions</p></li>
      </ul>
      <figure>
        <img src="https://angularfirebase.com/images/ngrx-redux-pattern-diagram.png">
      </figure>
      <h3>Inside the Project:</h3>
      <div class="inline-image">
        <figure>
          <img src="assets/images/folders.png" alt="">
        </figure>
        <div class="goal-list-small">
          <p><b>Actions:</b> Actions describe state changes</p>
          <p><b>Animations:</b> Animation easing and blending constants.</p>
          <p><b>Components:</b> Stateless components that do not reference store.</p>
          <p><b>Containers:</b> Smart components that reference store.</p>
          <p><b>Effects:</b> Isolate side effects from components to fetch data.</p>
          <p><b>Enums:</b> Set of enums I use throughout the application to manage events.</p>
          <p><b>Interfaces:</b> Set of generic interfaces I use across the application</p>
          <p><b>Reducers:</b> Pure functions called reducers take the previous state and the next action to compute the
            new
            state</p>
          <p><b>Services:</b> Set of services used across the application.</p>
        </div>
      </div>
      <h3>Services</h3>
      <div class="inline-image">
        <figure>
          <img src="assets/images/folder1.png" alt="">
        </figure>
        <div class="goal-list-small">
          <p><b>Gallery:</b> handles dispatching common actions to the store to manage state change</p>
          <p><b>Positional</b> manages the positional data for choreographing animations.</p>
          <p><b>Swipe-vertical</b> manages hammerjs for swipe interactions.</p>
        </div>
      </div>
      <h3>Components</h3>
      <div class="inline-image">
        <figure>
          <img src="assets/images/folder2.png" alt="">
        </figure>
        <div class="goal-list-small">
          <p><b>The UI can be broken into 3 containers:</b></p>
          <p><b>gxe-gallery-master</b> Handles the list/master view</p>
          <p><b>gxe-gallery-detail</b> Handles the detail/show/single view</p>
          <p><b>gxe-gallery-portal</b> Handles the animation state between Master/detail</p>
        </div>
      </div>

      <figure>
        <figcaption><b>You can visualize those containers like so:</b></figcaption>
        <br><br>
        <img src="assets/images/process-ui.svg" alt="">
      </figure>
      <div class="inline-image">
        <figure>
          <img src="assets/images/dumbcomponents.png" alt="">
        </figure>
        <div class="goal-list-small">
          <p><b>There are 4 presentational components:</b></p>
          <p><b>Bottombar </b>- bottom bar showin in detail view.</p>
          <p><b>Detail-item </b>- Single image inside the detail container</p>
          <p><b>Overlay </b>- Background overlay when detail view is open</p>
          <p><b>Topbar </b>- topbar show on both master and detail view.</p>

          <p><b>Gallery:</b> handles dispatching common actions to the store to manage state change</p>
          <p><b>Positional</b> manages the positional data for choreographing animations.</p>
          <p><b>Swipe-vertical</b> manages hammerjs for swipe interactions.</p>
        </div>
      </div>
      <h3>Flow Control:</h3>
      <p><b>The data flows unidirectionally downwards, in order from:</b></p>
      <ul class="detail-list">

        <li><p>Network: A 3rd party cms api : www.tipe.io</p></li>
        <li><p>Angular router Service.</p></li>
        <li><p>Into master view.</p></li>
        <li><p>Data is rendered into items.</p></li>
        <li><p>All Items are evaluated for position and cached.</p></li>
        <li><p>On user click currently selected item is set in global store</p></li>
        <li><p>Upon update to store a overlay is create and animations are triggered.</p></li>
        <li><p>On finish of animation router triggers detail view.</p></li>
        <li><p>Detail view overlaps transition detail-Item animation</p></li>
        <li><p>The user interaction graphs out to close, swipe, bottom bar click</p></li>
        <li><p>Each interaction fires and action to the global store</p></li>
        <li><p>Each change in store will reactively trigger a ui state change.</p></li>

      </ul>
      <h3>Result:</h3>
      <p><b> Extensible & Ergonomic component</b></p>
      <p>
        is a Angular component that can render the entire experience from a single html tag. Any data that
        fits the interface can be Input() into the gallery through the [galleryItems]="data" binding. The underlying
        services are extensible and the component itself is simple to get up and running.</p>
      <br><br>
      <p><b>For a full breakdown:</b></p> <br><br>
      <button mat-raised-button color="accent" [routerLink]="['/demo']">GO TO LIVE DEMO</button>
      <a
        href="https://gxe-gallery-docs.firebaseapp.com/"
        mat-button
        target="_blank"
        color="primary">
        VIEW THE DOCS
      </a>
      <a
        href="https://drive.google.com/file/d/1hvT5NOcvKu4DPZh3At4Ku7KySRLZwTYK/view?usp=sharing"
        mat-button
        target="_blank"
        color="primary">
        DOWNLOAD THE CODE
      </a>
    </section>
    <section>
      <h3>Reflections</h3>
      <p>
        I built this gallery twice.. because the first time I didn't plan enough.
        In the end, I liked where I ended up
        but, I wish I would have had more time to implement my original vision
        for interaction and motion design.
      </p>
    </section>
    <section>
      <h3>If there was more time:</h3>
      <mat-list role="list">
        <mat-list-item role="listitem">
          More iteration of motion design
        </mat-list-item>
        <mat-list-item role="listitem">
          Animated vertical swipe interaction when closing the gallery.
        </mat-list-item>
        <mat-list-item role="listitem">
          Accessibility
        </mat-list-item>
        <mat-list-item role="listitem">
          Bunch of Optimization in the code.
        </mat-list-item>
      </mat-list>
      <br><br>
    <p>
      Thank you for your time,<br>
      <i>Matthew Harwood</i> <br><br><br>
      <button mat-raised-button color="accent" [routerLink]="['/profile']">About me</button>
    </p>
    </section>

  </article>
</div>


