@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {

  display: flex;
  height: 100%;
  width: 100%;
}

.spacer {
  padding: 56px 0 0;
  width: 100%;

  @include bpM(1) {
    padding-top: 64px;
  }
}

.inner-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  position: relative;
  width: 100%;
  z-index: 9;
}

.inner-item-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.close-btn {
  background-color: transparent;
  color: $white-off;
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 99999;
}

.modal-screen {
  background: rgba(0, 0, 0, .99);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.inner-container-dupe {
  cursor: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;

  .item-dupe {
    cursor: none;
    flex: 1 1 50%;
    max-height: 25vh;
    pointer-events: none;
  }

  img {
    background: $white;
    cursor: none;
    padding: 6px;
    pointer-events: none;
    width: 100%;
  }
}
