<!-- Master views items used primarily for animations-->
<!-- #hostEl to select the host element for animation -->
<div #hostEl class="outer-mask">
  <!-- #mask to select the mast element for animation -->
  <div #mask class="inner-mask">
    <!-- Top master-uxe-animation-portal image (to be animated). -->
    <img [ngClass]="{'transparent': isActive}" [src]="item[1].value.url" alt="">
    <!--
      Overlay a gallery on top of master-uxe-animation-portal image and show when
      gallery-detail is active.
      [galleryItems] = gallery items data.
      [startingIndex] = starting index for pagination of gallery-detail
      [itemWidth] used for safari to set gallery-detail-uxe-animation-portal offset for pagination
      [isActive] is the gallery-detail active.
      (tapped) Output event for when gallery-detail has been tapped.
      (endingIndex) Output event for when pagination has completed.
      *ngIf = do not render gallery-detail unless gallery-detail has been triggered.
     -->
    <gxe-gallery-detail
      [galleryItems]="galleryItems"
      [startingIndex]="index"
      [itemWidth]="elWidth"
      [isActive]="galleryOpen"
      (tapped)="tapped($events)"
      (endingIndex)="originalSelectionChanged($event)"
      *ngIf="isActive">
    </gxe-gallery-detail>
  </div>
</div>
