@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';

:host {
  background-color: $fun-color;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.gxe-gallery-inner-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
