@import '../../../../assets/css/variables';
@import '../../../../assets/css/mixins';


:host {
  background-color: $blue-link;
  width: 100%;
  height: 300px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 100%;

}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
